# Information required to connect to MySQL database. This is passed directly
# into Mysql2::Client so see its documentation for more details:
# http://www.rubydoc.info/gems/mysql2/
database_connection:
  host: MYSQL_HOST
  username: MYSQL_USERNAME
  password: MYSQL_PASSWORD
  port: MYSQL_PORT
  database: MYSQL_DATABASE_NAME

# General description of the blog's structure, including table and column names.
blog_structure:
  table_name: posts
  id_column: id
  title_column: title
  body_column: body
  created_at_column: created_at
  # The base URL that the blog lived at. Any relative URLs within posts will be
  # prefixed by this value.
  base_url: http://www.test.com

# Evernote configuration.
evernote:
  # Your Evernote API key
  key: EVERNOTE_KEY
  # Your Evernote API secret
  secret: EVERNOTE_SECRET
  # Whether or not to import into the development sandbox (true) or a production
  # account (false)
  sandbox: false
  # An OAuth token issued by Evernote. The app will prompt you to create one
  # when you first run it. Take the token it returns you and save it in your
  # config.
  auth_token:
  # A list of static tags that should be applied to the notes created.
  tags:
    - imported
